<p style="font-family: Arial; font-size:3.50em;color:purple; font-style:bold">
Course Prerequisites Structure Using Sankey
</p>
<br>

Here, I am going to show flow from course to its prerequisites.
<br>
Notice that, I have made 1 change in File. I have filled "Passrate" with values which will be work as **value** for sankey diagram.

In [1]:
import plotly
import pandas as pd
import numpy as np
from plotly.graph_objs import Sankey
import random

In [2]:
data = pd.read_csv('FDU Electrical Engineering.csv', sep =",")
print(type(data))
print("Shape will show number of rows and columns in DataFrame (rows,columns):",data.shape)
data.head()

<class 'pandas.core.frame.DataFrame'>
Shape will show number of rows and columns in DataFrame (rows,columns): (44, 6)

        Name  Term Prerequisites Corequisites  Credits  Passrate
0  ENWR 1101     1           NaN          NaN        3        10
1  UNIV 1001     1           NaN          NaN        3        13
2  ENWR 1301     1           NaN          NaN        3        15
3  MATH 1201     1           NaN          NaN        3        12
4  PHYS 2203     1           NaN    MATH 1201        3        11

## Creating mapping for source and target. 
* In our case, column "Name" will work as source 
* column "Prerequisites" will work as target
* and column "Passrate" will work as value 
<br>

** I have already explained process of mapping that is created for source and target with replacing those mapping in our DataFrame.**
<br>
#### What would be different here ?

1. Here I am going to replace "NaN" with value 0 (which will act as very first node.)
2. I will assign name to that node (which will be very first value in labels list.)
3. The reason behind that is to show all the subjects from each term. In sankey we can not show nodes without target and values. It is must to have target and value. (If value would be 0 then that connection won't be shown at all.)

In [3]:
source_name = data['Name'].tolist()
print(len(source_name))

44

In [4]:
source_name[:6]

['ENWR 1101', 'UNIV 1001', 'ENWR 1301', 'MATH 1201', 'PHYS 2203', 'PHYS 2201']

In [5]:
source_zip = list(range(1,45))

In [6]:
source_mapping = dict(zip(source_name, source_zip))

In [7]:
source_mapping

{'CHEM 1201': 29,
 'CHEM 1203': 30,
 'EENG 2221': 18,
 'EENG 2222': 23,
 'EENG 2287': 16,
 'EENG 3223': 26,
 'EENG 3224': 32,
 'EENG 3244': 38,
 'EENG 3265': 27,
 'EENG 3266': 33,
 'EENG 3267': 40,
 'EENG 3288': 21,
 'EENG 4260': 37,
 'EENG 4268': 43,
 'EENG 4341': 44,
 'EENG 4342': 36,
 'EENG 4347': 42,
 'EENG 4355': 39,
 'ENGR 1204': 9,
 'ENGR 2210': 19,
 'ENGR 2286': 10,
 'ENGR 3000': 34,
 'ENGR 3200': 15,
 'ENGR 3341': 31,
 'ENGR 4210': 24,
 'ENGR 4221': 22,
 'ENWR 1101': 1,
 'ENWR 1102': 7,
 'ENWR 1301': 3,
 'MATH 1201': 4,
 'MATH 2202': 11,
 'MATH 2203 ': 25,
 'MATH 2210': 17,
 'MECH 2224': 28,
 'PHYS 2201': 6,
 'PHYS 2202': 13,
 'PHYS 2203': 5,
 'PHYS 2204': 12,
 'Tech Elective': 35,
 'Tech Electives ': 41,
 'UNIV 1001': 2,
 'UNIV 1002': 8,
 'UNIV 2001': 14,
 'UNIV 2002': 20}

### Creating copy of "data" DataFrame to perform mapping

In [8]:
df = data.copy()

In [9]:
df['Name'].replace(source_mapping, inplace = True)

In [10]:
df[-10:]

    Name  Term        Prerequisites Corequisites  Credits  Passrate
34    35     7                  NaN          NaN        3        20
35    36     7        Senior Status          NaN        3        20
36    37     7        Senior Status          NaN        3        12
37    38     7  ENGR 3341,PHYS 2204          NaN        3        11
38    39     7            EENG 3223          NaN        3        17
39    40     7  EENG 3266,EENG 2222          NaN        3        18
40    41     8                  NaN          NaN        3        14
41    42     8        Senior Status          NaN        3        16
42    43     8            EENG 4260          NaN        3        15
43    44     8            EENG 3223          NaN        3        18

In [11]:
pre_requisites = data['Prerequisites'].dropna().unique().tolist()
print(len(pre_requisites))

21

In [12]:
pre_requisites[:5]

['ENWR 1101', 'UNIV 1001', 'MATH 1201', 'PHYS 2203', 'UNIV 1002,ENWR 1101']

In [13]:
target_zip = list(range(45,66))

In [14]:
target_mapping = dict(zip(pre_requisites, target_zip))

In [15]:
target_mapping

{'EENG 2222': 58,
 'EENG 2287': 55,
 'EENG 3223': 60,
 'EENG 3265': 61,
 'EENG 3266,EENG 2222': 64,
 'EENG 4260': 65,
 'ENGR 1204': 50,
 'ENGR 2286': 51,
 'ENGR 3341,PHYS 2204': 63,
 'ENWR 1101': 45,
 'MATH 1201': 47,
 'MATH 2202': 52,
 'MATH 2202,PHYS 2204': 53,
 'MATH 2203': 59,
 'MATH 2210,EENG 2221': 56,
 'MATH 2210,EENG 2222': 57,
 'PHYS 2203': 48,
 'Senior Status': 62,
 'UNIV 1001': 46,
 'UNIV 1002,ENWR 1101': 49,
 'UNIV 2001': 54}

### Replacing "NaN" with 0

In [16]:
df.replace(np.nan, 0, inplace=True)

In [17]:
df['Prerequisites'].replace(target_mapping, inplace = True)

In [18]:
df[:5]

   Name  Term  Prerequisites Corequisites  Credits  Passrate
0     1     1              0            0        3        10
1     2     1              0            0        3        13
2     3     1              0            0        3        15
3     4     1              0            0        3        12
4     5     1              0    MATH 1201        3        11

### Creating labels and giving name to very first node which will represent all NaN values.

In [19]:
labels = ['No Pre_req']

In [20]:
labels = labels + source_name + pre_requisites

# Creating sankey

In [21]:
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
from plotly.graph_objs import *

init_notebook_mode(connected=True)

In [22]:
data_trace = dict(
    type='sankey',
    domain = dict(
      x =  [0,1],
      y =  [0,1]
    ),
    orientation = "h",
    visible = True,
    valueformat = ".0f",
    valuesuffix = " Students",
    node = dict(
      pad = 15,
      thickness = 30,
      line = dict(
        color = "black",
        width = 0.5
      ),
      label =  labels,
      #color = df['node_color']
    ),
    link = dict(  
      source = df['Name'],
      target = df['Prerequisites'],
      value = df['Passrate'],
      #color = df['link_color'],# Here we can add colors for each link which connected source to target.
  )
)

layout =  dict(
    title = "Course Prerequisite Structure For BS Electrical Engineering",
    height = 1000,
    width = 1000,
    font = dict(
      size = 12
    ),    
)

In [23]:
fig = Figure(data=[data_trace], layout=layout)
plotly.offline.plot(fig, validate=False)

'file://C:\\Users\\Hemang\\juPyterNotebook_Practice\\Student_Data\\temp-plot.html'