In [125]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [126]:
data = pd.read_csv('FDU_BS Elec Eng Flowchart.csv', sep =",")
print(type(data))
print("Shape will show number of rows and columns in DataFrame (rows,columns):",data.shape)
data.head()

<class 'pandas.core.frame.DataFrame'>
Shape will show number of rows and columns in DataFrame (rows,columns): (44, 7)

,Name,Term,Prerequisites,Corequisites,Mutual Corequisites,Credits,Passrate
0,ENWR 1101(Acad. Writing),1,NaN,NaN,NaN,3,0
1,UNIV 1001(Transitioning to Univ. life),1,NaN,NaN,NaN,3,0
2,ENWR 1301(Eng. Practices),1,NaN,NaN,NaN,3,0
3,MATH 1201(Calculas I),1,NaN,NaN,NaN,3,0
4,PHYS 2203(Univ. Physics I),1,NaN,MATH 1201,PHYS 2201,3,0

In [127]:
data['Name'] = data['Name'].str.replace(r"\(.*\)","")

In [128]:
data.head()

,Name,Term,Prerequisites,Corequisites,Mutual Corequisites,Credits,Passrate
0,ENWR 1101,1,NaN,NaN,NaN,3,0
1,UNIV 1001,1,NaN,NaN,NaN,3,0
2,ENWR 1301,1,NaN,NaN,NaN,3,0
3,MATH 1201,1,NaN,NaN,NaN,3,0
4,PHYS 2203,1,NaN,MATH 1201,PHYS 2201,3,0

In [129]:
course = data['Name'].tolist()

In [130]:
course[:5]

['ENWR 1101', 'UNIV 1001', 'ENWR 1301', 'MATH 1201', 'PHYS 2203']

In [131]:
data.replace(np.nan, "", inplace = True)

In [132]:
data.head(3)

,Name,Term,Prerequisites,Corequisites,Mutual Corequisites,Credits,Passrate
0,ENWR 1101,1,,,,3,0
1,UNIV 1001,1,,,,3,0
2,ENWR 1301,1,,,,3,0

In [133]:
pre_req = data['Prerequisites'].tolist()

In [134]:
pre_req[:10]

['', '', '', '', '', '', 'ENWR 1101', 'UNIV 1001', '', '']

In [135]:
cor_q = data['Corequisites'].tolist()

In [136]:
cor_q[:10]

['', '', '', '', 'MATH 1201', '', '', '', '', '']

In [137]:
mutual_cor = data['Mutual Corequisites'].tolist()

In [138]:
mutual_cor[:10]

['', '', '', '', 'PHYS 2201', 'PHYS 2203', '', '', '', '']

In [139]:
edges_1 = list(zip(course,pre_req))

In [140]:
edges_1[:5]

[('ENWR 1101', ''),
 ('UNIV 1001', ''),
 ('ENWR 1301', ''),
 ('MATH 1201', ''),
 ('PHYS 2203', '')]

In [141]:
edges_2 = list(zip(course,cor_q))

In [142]:
edges_2[:5]

[('ENWR 1101', ''),
 ('UNIV 1001', ''),
 ('ENWR 1301', ''),
 ('MATH 1201', ''),
 ('PHYS 2203', 'MATH 1201')]

In [143]:
edges_3 = list(zip(course,mutual_cor))

In [144]:
edges_3[:5]

[('ENWR 1101', ''),
 ('UNIV 1001', ''),
 ('ENWR 1301', ''),
 ('MATH 1201', ''),
 ('PHYS 2203', 'PHYS 2201')]

In [145]:
cnum_list_all = data['Name'].str.extract('(\d+)').tolist()

C:\Users\Hemang\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.

In [146]:
cnum_list = [x for x in cnum_list_all if str(x) != 'nan']
cnum_list[:5]

['1101', '1001', '1301', '1201', '2203']

In [147]:
df = pd.read_csv('FDU_Data.csv', sep =",")
print(type(df))
print("Shape will show number of rows and columns in DataFrame (rows,columns):",df.shape)
df.head(3)

<class 'pandas.core.frame.DataFrame'>
Shape will show number of rows and columns in DataFrame (rows,columns): (1262, 43)

,REC_ID,FILETERM,FTERMA,FILEDATE,COURSE,CRSLEVEL,CDEPT,CNUM,CTITLE,MINCREDS,...,SATVERB,SATMATH,SATWRITE,ACT,Wordcount,ZYBooks_Timeliness,ZYBooks_Curiosity,Weighted_Midterm_Total,Weighted_Final_Total,Word_Count
0,3878,201509,201509,9/1/2015,EGTM_2232,2,EGTM,2232,Mechanical Measurement/Devices,3,...,450,460,480,,,1500.0,700.0,68.6,90.25,296
1,3878,201509,201509,9/1/2015,ENGR_1301,1,ENGR,1301,"Engr Pract, Graphics and Des",3,...,450,460,480,,,1500.0,700.0,68.6,90.25,296
2,3878,201509,201509,9/1/2015,ENWR_1101,1,ENWR,1101,Academic Writing,3,...,450,460,480,,,1500.0,700.0,68.6,90.25,296

In [148]:
students = df[['CNUM','Grade']]
students[:5]

   CNUM Grade
0  2232     C
1  1301    B+
2  1101     B
3  1105    C+
4  1223     A

In [149]:
students = students[students['CNUM'].isin(cnum_list)]
students[:4]

   CNUM Grade
1  1301    B+
2  1101     B
5  1204    B+
6  1102     B

In [150]:
students_count_for_each_subject = students[['CNUM','Grade']].groupby('CNUM').count()
students_count_for_each_subject.head()

      Grade
CNUM
1001     64
1002     53
1101     71
1102     41
1201     72

In [151]:
students_count = students_count_for_each_subject['Grade']
type(students_count)
students_count[:3]

CNUM
1001    64
1002    53
1101    71
Name: Grade, dtype: int64

In [152]:
import graphviz as gv
from graphviz import Digraph
import functools

In [153]:
#g = Digraph()
#g.attr(rank = 'same')
def Cucompl (cluster_size):
    i = 1
    g = Digraph()
    g.attr(rank = 'same')
    for i in range(cluster_size):
        with g.subgraph(name='cluster_'+str(i)) as c:
            c.attr(style='filled')
            c.attr(color='lightgrey')
            c.node_attr.update(style='filled', color='white')
            #c.graph_attr.update(rank = 'same')
            #c.node(['a0','a1','a2'])
            c.edges([('a0', 'a1'), ('a1', 'a2'), ('a2', 'a3')])
            c.attr(label='Term '+str(i))
        i+=1
    return g

In [45]:
g = Cucompl(2)
g.view()

'Digraph.gv.pdf'

In [154]:
def add_nodes(graph, nodes):
    for n in nodes:
        if isinstance(n, tuple):
            graph.node(n[0], **n[1])
        else:
            graph.node(n)
    return graph

def add_edges(graph, edges):
    for e in edges:
        if isinstance(e[0], tuple):
            graph.edge(*e[0], **e[1])
        else:
            graph.edge(*e)
    return graph

In [155]:
edges = edges_1 + edges_2 + edges_3

In [156]:
edges = list(set(edges))

In [157]:
edges[:5]

[('UNIV 1001', ''),
 ('CHEM 1201', 'CHEM 1203'),
 ('ENGR 3000', ''),
 ('CHEM 1201', ''),
 ('ENGR 3341', '')]

In [158]:
graph = functools.partial(gv.Graph, format='svg')
digraph = functools.partial(gv.Digraph, format='svg')

In [44]:
add_edges(
    add_nodes(digraph(), course),
   edges
).render('img/g4')

'img/g4.svg'

In [242]:
g7 = Digraph()
g7.graph_attr['rankdir'] = 'RL'

In [235]:
term_1 = data[data['Term'] == 1]
term_2 = data[data['Term'] == 2]
term_3 = data[data['Term'] == 3]
term_4 = data[data['Term'] == 4]
term_5 = data[data['Term'] == 5]
term_6 = data[data['Term'] == 6]
term_7 = data[data['Term'] == 7]
term_8 = data[data['Term'] == 8]

In [236]:
t_1 = term_1['Name'].tolist()
t_2 = term_2['Name'].tolist()
t_3 = term_3['Name'].tolist()
t_4 = term_4['Name'].tolist()
t_5 = term_5['Name'].tolist()
t_6 = term_6['Name'].tolist()
t_7 = term_7['Name'].tolist()
t_8 = term_8['Name'].tolist()

In [237]:
print("Term 1:", t_1)
print("Term 2:", t_2)
print("Term 3:", t_3)
print("Term 4:", t_4)
print("Term 5:", t_5)
print("Term 6:", t_6)
print("Term 7:", t_7)
print("Term 8:", t_8)

Term 1: ['ENWR 1101', 'UNIV 1001', 'ENWR 1301', 'MATH 1201', 'PHYS 2203', 'PHYS 2201']
Term 2: ['ENWR 1102', 'UNIV 1002', 'ENGR 1204', 'ENGR 2286', 'MATH 2202', 'PHYS 2204', 'PHYS 2202']
Term 3: ['UNIV 2001', 'ENGR 3200', 'EENG 2287', 'MATH 2210', 'EENG 2221']
Term 4: ['ENGR 2210', 'UNIV 2002 ', 'EENG 3288', 'ENGR 4221', 'EENG 2222']
Term 5: ['ENGR 4210', 'MATH 2203 ', 'EENG 3223', 'EENG 3265', 'MECH 2224']
Term 6: ['CHEM 1201', 'CHEM 1203', 'ENGR 3341', 'EENG 3224', 'EENG 3266', 'ENGR 3000']
Term 7: ['Tech Elective', 'EENG 4342', 'EENG 4260', 'EENG 3244', 'EENG 4355', 'EENG 3267']
Term 8: ['Tech Electives ', 'EENG 4347', 'EENG 4268', 'EENG 4341']

In [243]:
with g7.subgraph(name='cluster_0') as c:
    c.attr(style='filled')
    c.attr(color='lightgrey')
    c.node_attr.update(style='filled', color='white')
    c.node(t_1[0])
    c.node(t_1[1])
    c.node(t_1[2])
    c.node(t_1[3])
    c.node(t_1[4])
    c.node(t_1[5])
    c.graph_attr.update(rank = 'same')
    c.edges([(t_1[4],t_1[3])])
    c.edge_attr.update(color = 'red')
    c.attr(label='Term 1')

In [244]:
with g7.subgraph(name='cluster_1') as c:
    c.attr(style='filled')
    c.attr(color='lightgrey')
    c.node_attr.update(style='filled', color = 'white')
    c.node(t_2[0])
    c.node(t_2[1])
    c.node(t_2[2])
    c.node(t_2[3])
    c.node(t_2[4])
    c.node(t_2[5])
    c.node(t_2[6])
    c.graph_attr.update(rank = 'same')
    c.attr(label='Term 2')
with g7.subgraph(name='cluster_2') as c:
    c.attr(style='filled')
    c.attr(color='lightgrey')
    c.node_attr.update(style='filled', color = 'white')
    c.node(t_3[0])
    c.node(t_3[1])
    c.node(t_3[2])
    c.node(t_3[3])
    c.node(t_3[4])
    c.graph_attr.update(rank = 'same')
    c.attr(label='Term 3')
with g7.subgraph(name='cluster_3') as c:
    c.attr(style='filled')
    c.attr(color='lightgrey')
    c.node_attr.update(style='filled', color = 'white')
    c.node(t_4[0])
    c.node(t_4[1])
    c.node(t_4[2])
    c.node(t_4[3])
    c.node(t_4[4])
    c.graph_attr.update(rank = 'same')
    c.attr(label='Term 4')
with g7.subgraph(name='cluster_4') as c:
    c.attr(style='filled')
    c.attr(color='lightgrey')
    c.node_attr.update(style='filled', color = 'white')
    c.node(t_5[0])
    c.node(t_5[1])
    c.node(t_5[2])
    c.node(t_5[3])
    c.node(t_5[4])
    c.graph_attr.update(rank = 'same')
    c.attr(label='Term 5')
with g7.subgraph(name='cluster_5') as c:
    c.attr(style='filled')
    c.attr(color='lightgrey')
    c.node_attr.update(style='filled', color = 'white')
    c.node(t_6[0])
    c.node(t_6[1])
    c.node(t_6[2])
    c.node(t_6[3])
    c.node(t_6[4])
    c.node(t_6[5])
    c.graph_attr.update(rank = 'same')
    c.attr(label='Term 6')
with g7.subgraph(name='cluster_6') as c:
    c.attr(style='filled')
    c.attr(color='lightgrey')
    c.node_attr.update(style='filled', color = 'white')
    c.node(t_7[0])
    c.node(t_7[1])
    c.node(t_7[2])
    c.node(t_7[3])
    c.node(t_7[4])
    c.node(t_7[5])
    c.node('Senior Status')
    c.graph_attr.update(rank = 'same')
    c.edges([(t_7[1],'Senior Status'),(t_7[2],'Senior Status')])
    c.edge_attr.update(color = 'orange')
    c.attr(label='Term 7')
with g7.subgraph(name='cluster_7') as c:
    c.attr(style='filled')
    c.attr(color='lightgrey')
    c.node_attr.update(style='filled', color = 'white')
    c.node(t_8[0])
    c.node(t_8[1])
    c.node(t_8[2])
    c.node(t_8[3])
    c.node('Senior Status')
    c.graph_attr.update(rank = 'same')
    c.edges([(t_8[1],'Senior Status')])
    c.edge_attr.update(color = 'red')
    c.attr(label='Term 8')

In [245]:
g7.edges([(t_2[0],t_1[0]),(t_2[1],t_1[1]),(t_2[4],t_1[3]),(t_2[5],t_1[4])])
g7.edges([(t_3[0],t_2[1]),(t_3[0],t_1[0]),(t_3[1],t_2[2]),(t_3[2],t_2[3]),(t_3[3],t_2[4]),(t_3[3],t_2[5]),(t_3[4],t_2[4]),(t_3[4],t_2[5])])
g7.edges([(t_4[0],t_1[0]),(t_4[1],t_3[0]),(t_4[2],t_3[2]),(t_4[3],t_1[4]),(t_4[4],t_3[3]),(t_4[4],t_3[4])])
g7.edges([(t_5[0],t_2[4]),(t_5[1],t_2[4]),(t_5[2],t_4[0]),(t_5[2],t_4[4]),(t_5[3],t_4[4]),(t_5[4],t_1[4])])
g7.edges([(t_6[2],t_5[1]),(t_6[3],t_5[2]),(t_6[4],t_5[3])])
g7.edges([(t_7[3],t_6[2]),(t_7[3],t_2[5]),(t_7[4],t_5[2]),(t_7[5],t_6[4]),(t_7[5],t_4[4])])
g7.edges([(t_8[2],t_7[2]),(t_8[3],t_5[2])])
g7.edge_attr.update(color = 'green')

In [222]:
#print(g.source)

In [246]:
g7.attr(rank = 'same')
g7.view()

'Digraph.gv.pdf'

In [60]:
g.render('./G1', view = True)

'./G1.pdf'