In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('FDU_BS Elec Eng Flowchart.csv', sep =",")
print(type(data))
print("Shape will show number of rows and columns in DataFrame (rows,columns):",data.shape)
data.head()

<class 'pandas.core.frame.DataFrame'>
Shape will show number of rows and columns in DataFrame (rows,columns): (44, 7)

,Name,Term,Prerequisites,Corequisites,Mutual Corequisites,Credits,Passrate
0,ENWR 1101(Acad. Writing),1,NaN,NaN,NaN,3,0
1,UNIV 1001(Transitioning to Univ. life),1,NaN,NaN,NaN,3,0
2,ENWR 1301(Eng. Practices),1,NaN,NaN,NaN,3,0
3,MATH 1201(Calculas I),1,NaN,NaN,NaN,3,0
4,PHYS 2203(Univ. Physics I),1,NaN,MATH 1201,PHYS 2201,3,0

In [3]:
data['Name'] = data['Name'].str.replace(r"\(.*\)","")

In [4]:
data.head()

,Name,Term,Prerequisites,Corequisites,Mutual Corequisites,Credits,Passrate
0,ENWR 1101,1,NaN,NaN,NaN,3,0
1,UNIV 1001,1,NaN,NaN,NaN,3,0
2,ENWR 1301,1,NaN,NaN,NaN,3,0
3,MATH 1201,1,NaN,NaN,NaN,3,0
4,PHYS 2203,1,NaN,MATH 1201,PHYS 2201,3,0

In [5]:
course = data['Name'].tolist()

In [6]:
course[:5]

['ENWR 1101', 'UNIV 1001', 'ENWR 1301', 'MATH 1201', 'PHYS 2203']

In [7]:
data.replace(np.nan, "", inplace = True)

In [8]:
data.head(3)

,Name,Term,Prerequisites,Corequisites,Mutual Corequisites,Credits,Passrate
0,ENWR 1101,1,,,,3,0
1,UNIV 1001,1,,,,3,0
2,ENWR 1301,1,,,,3,0

In [9]:
term_1 = data[data['Term'] == 1]
term_2 = data[data['Term'] == 2]
term_3 = data[data['Term'] == 3]
term_4 = data[data['Term'] == 4]
term_5 = data[data['Term'] == 5]
term_6 = data[data['Term'] == 6]
term_7 = data[data['Term'] == 7]
term_8 = data[data['Term'] == 8]

In [10]:
t_1 = term_1['Name'].tolist()
t_2 = term_2['Name'].tolist()
t_3 = term_3['Name'].tolist()
t_4 = term_4['Name'].tolist()
t_5 = term_5['Name'].tolist()
t_6 = term_6['Name'].tolist()
t_7 = term_7['Name'].tolist()
t_8 = term_8['Name'].tolist()

In [11]:
print("Term 1:", t_1)
print("Term 2:", t_2)
print("Term 3:", t_3)
print("Term 4:", t_4)
print("Term 5:", t_5)
print("Term 6:", t_6)
print("Term 7:", t_7)
print("Term 8:", t_8)

Term 1: ['ENWR 1101', 'UNIV 1001', 'ENWR 1301', 'MATH 1201', 'PHYS 2203', 'PHYS 2201']
Term 2: ['ENWR 1102', 'UNIV 1002', 'ENGR 1204', 'ENGR 2286', 'MATH 2202', 'PHYS 2204', 'PHYS 2202']
Term 3: ['UNIV 2001', 'ENGR 3200', 'EENG 2287', 'MATH 2210', 'EENG 2221']
Term 4: ['ENGR 2210', 'UNIV 2002 ', 'EENG 3288', 'ENGR 4221', 'EENG 2222']
Term 5: ['ENGR 4210', 'MATH 2203 ', 'EENG 3223', 'EENG 3265', 'MECH 2224']
Term 6: ['CHEM 1201', 'CHEM 1203', 'ENGR 3341', 'EENG 3224', 'EENG 3266', 'ENGR 3000']
Term 7: ['Tech Elective', 'EENG 4342', 'EENG 4260', 'EENG 3244', 'EENG 4355', 'EENG 3267']
Term 8: ['Tech Electives ', 'EENG 4347', 'EENG 4268', 'EENG 4341']

In [12]:
import graphviz as gv
from graphviz import Digraph

In [15]:
g = Digraph()
g.graph_attr['rankdir'] = 'RL'

In [16]:
with g.subgraph(name='cluster_0') as c:
    c.attr(style='filled')
    c.attr(color='lightgrey')
    c.node_attr.update(style='filled', color='white')
    c.node(t_1[0])
    c.node(t_1[1])
    c.node(t_1[2])
    c.node(t_1[3])
    c.node(t_1[4])
    c.node(t_1[5])
    c.graph_attr.update(rank = 'same')
    c.edges([(t_1[4],t_1[3])])
    c.edge_attr.update(color = 'red')
    c.attr(label='Term 1')

In [17]:
with g.subgraph(name='cluster_1') as c:
    c.attr(style='filled')
    c.attr(color='lightgrey')
    c.node_attr.update(style='filled', color = 'white')
    c.node(t_2[0])
    c.node(t_2[1])
    c.node(t_2[2])
    c.node(t_2[3])
    c.node(t_2[4])
    c.node(t_2[5])
    c.node(t_2[6])
    c.graph_attr.update(rank = 'same')
    c.attr(label='Term 2')
with g.subgraph(name='cluster_2') as c:
    c.attr(style='filled')
    c.attr(color='lightgrey')
    c.node_attr.update(style='filled', color = 'white')
    c.node(t_3[0])
    c.node(t_3[1])
    c.node(t_3[2])
    c.node(t_3[3])
    c.node(t_3[4])
    c.graph_attr.update(rank = 'same')
    c.attr(label='Term 3')
with g.subgraph(name='cluster_3') as c:
    c.attr(style='filled')
    c.attr(color='lightgrey')
    c.node_attr.update(style='filled', color = 'white')
    c.node(t_4[0])
    c.node(t_4[1])
    c.node(t_4[2])
    c.node(t_4[3])
    c.node(t_4[4])
    c.graph_attr.update(rank = 'same')
    c.attr(label='Term 4')
with g.subgraph(name='cluster_4') as c:
    c.attr(style='filled')
    c.attr(color='lightgrey')
    c.node_attr.update(style='filled', color = 'white')
    c.node(t_5[0])
    c.node(t_5[1])
    c.node(t_5[2])
    c.node(t_5[3])
    c.node(t_5[4])
    c.graph_attr.update(rank = 'same')
    c.attr(label='Term 5')
with g.subgraph(name='cluster_5') as c:
    c.attr(style='filled')
    c.attr(color='lightgrey')
    c.node_attr.update(style='filled', color = 'white')
    c.node(t_6[0])
    c.node(t_6[1])
    c.node(t_6[2])
    c.node(t_6[3])
    c.node(t_6[4])
    c.node(t_6[5])
    c.graph_attr.update(rank = 'same')
    c.attr(label='Term 6')
with g.subgraph(name='cluster_6') as c:
    c.attr(style='filled')
    c.attr(color='lightgrey')
    c.node_attr.update(style='filled', color = 'white')
    c.node(t_7[0])
    c.node(t_7[1])
    c.node(t_7[2])
    c.node(t_7[3])
    c.node(t_7[4])
    c.node(t_7[5])
    c.node('Senior Status')
    c.graph_attr.update(rank = 'same')
    c.edges([(t_7[1],'Senior Status'),(t_7[2],'Senior Status')])
    c.edge_attr.update(color = 'orange')
    c.attr(label='Term 7')
with g.subgraph(name='cluster_7') as c:
    c.attr(style='filled')
    c.attr(color='lightgrey')
    c.node_attr.update(style='filled', color = 'white')
    c.node(t_8[0])
    c.node(t_8[1])
    c.node(t_8[2])
    c.node(t_8[3])
    c.node('Senior Status')
    c.graph_attr.update(rank = 'same')
    c.edges([(t_8[1],'Senior Status')])
    c.edge_attr.update(color = 'red')
    c.attr(label='Term 8')

In [18]:
g.edges([(t_2[0],t_1[0]),(t_2[1],t_1[1]),(t_2[4],t_1[3]),(t_2[5],t_1[4])])
g.edges([(t_3[0],t_2[1]),(t_3[0],t_1[0]),(t_3[1],t_2[2]),(t_3[2],t_2[3]),(t_3[3],t_2[4]),(t_3[3],t_2[5]),(t_3[4],t_2[4]),(t_3[4],t_2[5])])
g.edges([(t_4[0],t_1[0]),(t_4[1],t_3[0]),(t_4[2],t_3[2]),(t_4[3],t_1[4]),(t_4[4],t_3[3]),(t_4[4],t_3[4])])
g.edges([(t_5[0],t_2[4]),(t_5[1],t_2[4]),(t_5[2],t_4[0]),(t_5[2],t_4[4]),(t_5[3],t_4[4]),(t_5[4],t_1[4])])
g.edges([(t_6[2],t_5[1]),(t_6[3],t_5[2]),(t_6[4],t_5[3])])
g.edges([(t_7[3],t_6[2]),(t_7[3],t_2[5]),(t_7[4],t_5[2]),(t_7[5],t_6[4]),(t_7[5],t_4[4])])
g.edges([(t_8[2],t_7[2]),(t_8[3],t_5[2])])
g.edge_attr.update(color = 'green')

In [19]:
g.attr(rank = 'same')
g.view()

'Digraph.gv.pdf'